.headerStyle {
  background-image: url("https://res.cloudinary.com/aguadeira/image/upload/v1646225142/FTM/vendas/pexels-kindel-media-9800117_jra0x2.jpg");
  background-position: center top 50%;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
  display: flex;
  flex-direction: column;
}

.dotBox {
  text-align: center;
  margin-bottom: 1em;

  @media only screen and (max-width: 1000px) {
    margin-top: -12em;
  }
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.linearGradient {
  height: 26.804rem;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.404));
}

.logoMetalPev {
  margin-left: 4rem;

  // max-width: 17%;

  @media only screen and (max-width: 800px) {
    margin-left: 0.2rem;
  }

  // a {
  //   object-fit: cover;
  // }

  // img {
  //   width: 100%;
  // }
}
.logoMetalPev2 {
  @media only screen and (min-width: 800px) {
    display: none;
  }
}

.headerNavigation {
  padding: 1.5rem;
  display: flex;

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: gray;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: start;
    z-index: 1;

    .navItem {
      text-decoration: none;
      margin: auto;
      transition: 0.3s ease;
      display: inline-block;
      vertical-align: middle;
      padding: 10px 10px;
      font-weight: 620;
      text-shadow: -0.5px 0 0.1px black, 0 0.5px 0.1px black,
        0.5px 0 0.1px black, 0 -0.5px 0.1px rgb(0, 0, 0);
      a {
        position: relative;
        padding: 0 0px;
      }
      a::after {
        content: "";
        position: absolute;
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(53, 111, 231, 1) 35%,
          rgb(0, 174, 255) 100%
        );
        height: 2px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
      }

      :hover::after {
        width: 100%;
      }
    }
  }

  .dropdown:hover .dropdownContent {
    display: block;
  }
}

.headerMenu {
  flex: 1;
  text-align: right;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.menuIconToggleMenu {
  display: none;

  @media only screen and (max-width: 800px) {
    display: initial;
    padding: 4px 7px;
    font-size: 2.5em;
    font-weight: bold;
    &::hover {
      cursor: pointer;
    }
  }
}

.mobileHidden {
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.navItem {
  text-decoration: none;
  margin: auto;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  font-weight: 620;
  text-shadow: -0.5px 0 0.1px black, 0 0.5px 0.1px black, 0.5px 0 0.1px black,
    0 -0.5px 0.1px rgb(0, 0, 0);
  a {
    position: relative;
    padding: 0 10px;
  }
  a::after {
    content: "";
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(53, 111, 231, 1) 35%,
      rgb(0, 174, 255) 100%
    );
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }

  :hover::after {
    width: 100%;
  }
}

.headerContent {
  height: 100%;
  display: grid;
  text-shadow: -0.5px 0 0.1px black, 0 0.5px 0.1px black, 0.5px 0 0.1px black,
    0 -0.5px 0.1px black;
  @media only screen and (max-width: 800px) {
  }
  // .imagesContainer {
  //   display: grid;
  //   margin-left: 2em;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   grid-gap: 1em;
  //   max-width: 800px;
  // }
}

.container {
  display: flex;
  margin-top: -18em;
  margin-left: 26em;
  max-width: 100%;

  .item {
    margin-bottom: 5em;

    flex: 1;
    margin: 1%;
    border-radius: 50%;
    height: 150px;
    overflow: hidden;
    width: 150px;
    margin: 0 2px;
  }

  @media only screen and (max-width: 1300px) {
    display: none;
  }
}
.textCard {
  max-width: 100%;
  margin: 2rem 8rem;

  @media only screen and (max-width: 800px) {
    margin: 2rem 2rem;
  }
}
.title {
  font-weight: bold;
  font-size: 2.25rem;
  margin: auto;
  text-shadow: -0.5px 0 0.1px black, 0 0.5px 0.1px black, 0.5px 0 0.1px black,
    0 -0.5px 0.1px black;
  word-wrap: break-word;
  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}
.description {
  text-align: start;
  margin-top: 20px;
}
.borderStyle {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 111, 231, 1) 35%,
    rgb(0, 174, 255) 100%
  );

  max-width: 120px;
  display: block;
  height: 8px;

  margin: 2px 0px 5px 0px;
}
.btnDefault {
  font-size: 16px;
  width: 270px;
  line-height: 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 216, 1) 35%,
    rgb(254, 216, 1) 100%
  );

  padding: 10px 26px;
  color: white;
  border-radius: 8rem;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  outline: none;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.774) 0%,
      rgba(254, 216, 1, 0.918) 35%,
      rgba(254, 216, 1, 0.829) 70%
    );
    cursor: pointer;
  }

  img {
    margin-left: 0.5rem;
  }
}
