.container {
  @media only screen and (max-width: 780px) {
    display: none;
  }
}
.logoMetalPev {
  margin-left: 7rem;
  width: 18vw;
  height: 15vh;
  position: relative;

  @media only screen and (max-width: 800px) {
    margin-left: 0.2rem;
  }
}

.content {
  display: flex;
  align-items: center;

  .item {
    display: flex;
    margin-top: 1.5%;
    justify-content: center;
    align-items: center;
    color: #000;

    span {
      margin-right: 5px;
    }

    .separator {
      height: 2rem;
      margin: 0rem 1rem;
      border: 1px solid gray;
      border-radius: 100%;
    }
  }
}
